apiVersion: v1
data:
  admin.enabled: "true"
  dex.config: |
    logger:
      level: debug
      format: json
    connectors:
    - type: oauth
      id: oauth-provider-id
      name: "OAuth Provider"
      config:
        clientID: abc-123
        redirectURI: https://argocd.example.com/api/dex/callback
        tokenURL: https://oauth.example.com/api/auth/token
        authorizationURL: https://oauth.example.com/api/auth/authorize
        userInfoURL: https://oauth.example.com/api/service/user/GetProfile
        userIDKey: userId
        claimMapping:
          userNameKey: UserName
          preferredUsernameKey: UserFullName
          emailKey: email
          emailVerifiedKey: email
          groupsKey: teamId
        groupsAttr: groups
  exec.enabled: "true"
  url: https://argocd.example.com
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-cm
  namespace: argocd
