
apiVersion: v1
data:
  policy.csv: |
    g, admin@example.com, role:admin
  scopes: '[email, groups]'
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-rbac-cm
  namespace: argocd
